.stories {
  display: none;
  width: 100%;
  flex-flow: row nowrap;
  gap: 12px;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-right: 0px !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 749px) {
  .stories {
    display: flex;
  }
}

.stories::-webkit-scrollbar {
  display: none;
}

.stories__story {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.stories__story:last-child {
  padding-right: 1.5rem;
}

.stories__story__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: grey;
  border: 2px solid white;
  aspect-ratio: 1/1;
}

.stories__story__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stories__story__name {
  width: 70px;
  font-size: 10px;
  font-weight: 400;
  color: var(--color-text);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}